*, *:before, *:after {
  box-sizing: inherit;
}

.headcolumn {
  float: left;
  width: 16.66%;
  margin-bottom: 16px;
  padding: 0 8px;
  
  
}

@media screen and (max-width: 650px) {
  .headcolumn {
    width: 100%;
    display: block;
  }
}

.headcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background:white;
}

.headcontainer {
  padding: 0 16px;
  background-color: white;
  color: teal;
  font: 11.5px "Roboto";
}

.headcontainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.headbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: teal;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.headbutton:hover {
  background-color: teal;
  color: white;
}
#circle
{
  width:250px;
  height:250px;
  border:0px solid black;
  border-radius:100%;
  
}
